
@{
    ViewBag.Title = "VisitorsDetailsReport";
    Layout = "~/Views/Shared/_LearnEnggAdminLayout.cshtml";
}

<article class="col-sm-12">
    <div class="in_hd_tt">
        <strong class="fa fa-file-text"></strong><span>Visitors Details Report</span>
        </div>
</article>
<article class="col-sm-12">
    <section class="sub_wrp row">
        <div id="jqgrid" class="grid_panel" align="center">
            <table id="gridVisitors"></table>
            <div id="pager"></div>
        </div>
    </section>
</article>

<script type="text/javascript">
    $(document).ready(
        function ()
        { }
    );

    function LoadVisitorsDetails()
    {

    }
    

</script>
