@import url('https://fonts.googleapis.com/css?family=Tauri');
.dev-hd-img {
    position: relative;
}

h1.dev-header{
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px;
	color: rgb(255, 255, 255);
	text-shadow: 1px 3px 5px rgb(0, 0, 0);
	font-weight: 600;
	position: absolute;
	top: 50%;
	font-size: 30px;
}

.syl-heading h1{
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.syl-heading img{
	max-width:100%;
}

.list-syl {
    border: 1px solid #000;
    line-height: 24px;
    list-style: outside none none;
    margin: 45px 0 0;
    padding: 10px 0 10px 20px;
    text-align: left;
}

.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

/* Product Grid */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
	.syl-heading img{
		width:100%;
		min-height:190px;
	}
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}
@media screen and (max-width: 480px) {
h1.dev-header{
	font-size: 15px;
	top:33%;
	margin:0;
}
}

/**** iti-header **** 26-5-12 ****/
.top-title{
	text-align: center;
	font-weight: 600;
}
.top-title span {
    margin-top: 10px;
    display: block;
}
#ititrade_page .unique-block{
	border:0;
	height: auto;
}
#ititrade_page .green-blocks {
    background: #9ec5b8 none repeat scroll 0 0;
	padding: 20px;
}

#ititrade_page .sub-heading{
	text-align:center;
	margin-bottom:20px;
	font-size:25px;
}
#ititrade_page .bg-green{
	background: #fff;
	box-shadow: 2px 3px 5px rgba(0,0,0, .15);
}
#ititrade_page .count-text{
	color:#000;
	font-size: 12px;
}
#ititrade_page .count-number{
	color:#000;
}
.iti-digcont .table > tbody > tr > td{
	padding:5px 8px;
}
.bg-section{
	background-color: #366666;
	color:#fff;
}
.bg-section img{
	margin: 0 auto;
	width: 250px;
}
.iti-padtop p:first-child{
	font-family: 'Tauri', sans-serif;
	font-size:23px;
	letter-spacing:1px;
	line-height:35px;
}
.iti-padtop p:last-child{
	color: #bbbdbf;
}
.video-popup img{
	position:relative;
	margin:0 auto;
}
.video-popup a > span{
	background: url(../images_v2/iti/vplay.png) no-repeat -22px 100px;
	margin: 0;
	padding: 0;
	width: 322px;
	height: 193px;
	position: absolute;
	text-indent: -9998px;
	cursor: pointer;
	font-size: 1px;
	z-index: 1;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	-ms-transition: all 1s ease;
	transition: all 1s ease;
}
.video-popup a > span:hover{
	background: url(../images_v2/iti/v-hplay.png) no-repeat center center;
	margin: 0;
	padding: 0;
	width: 322px;
	height: 193px;
	position: absolute;
	text-indent: -9999px;
	cursor: pointer;
	font-size: 1px;
	z-index: 1;
}
.whatwedel img{
	box-shadow: 0 1px 3px #c1c1c1;
}
.iti-table{
	box-shadow: 0 1px 3px #c1c1c1;
}
.btm-line {
    width: 50px;
    height: 3px;
    background-color: rgb(99, 122, 145);
}
#ititrade_page .owl-item img{
	margin:0 auto;
}


